.title{
    background-color:#e50505 !important;
    color: white;
    font-family: Rockit;
    font-size:20px;
}

.form-control{
    /*background-color:#92B4F4;*/
    margin: 0 auto;
    color:black !important;
}

.form-control:hover{
    background-color: #5DA9E9;
}

.lists:hover{
    background-color: #5DA9E9 !important;
}

.groups{
    text-align: center;
    align-content: center;
}

body.modal-open div.modal-backdrop { 
    z-index: 0; 
}

@font-face {
    font-family: 'Rockit';
    src: url('../fonts/Rockit.ttf') format('truetype');
}

#titleMain{
    font-family: Rockit;
}

#titleSec{
    font-family: Rockit;
    font-size:20px;
}

@font-face {
    font-family: 'URANIA CZECH';
    src: url('../fonts/URANIA CZECH.ttf') format('truetype');
}

p{
    font-family: URANIA CZECH;
    font-size:18px;
}

.heading{
    font-family: URANIA CZECH;
    font-size:25px;
}