body{
    text-align:center;
}
#map {
     border-radius: 5%;
     opacity: 1;
}

#legendList {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align:left;
    margin-top:5px;
}

#markers{
    margin-top:5%;
}

#legendList > li {
    display: inline-block;    
}
#list {
    height: 80%;
    width: 25%;
    background-color: white;
    margin:2%;
    border-radius: 5%;
    padding-bottom:2%;
}

@font-face {
    font-family: 'URANIA CZECH';
    src: url('../fonts/URANIA CZECH.ttf') format('truetype');
}

.textFont{
    font-family:'URANIA CZECH';
}
@font-face {
    font-family: 'Rockit';
    src: url('../fonts/Rockit.ttf') format('truetype');
}

.heading{
    font-family:Rockit;
    font-size:25px;
    padding:1%;
}

.label{
    font-size:25px;
    color:black;
}

