#Content {
    padding: 10%;
}
#divBackground {
    background: white;
    filter: alpha(opacity=30);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

body {
    font-family: 'Josefin Slab', serif;
    font-size: 18px;
    background-image: url('../images/Festival-background.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
}

/*#createCode {
    width: 50%;
    float: left;
}

#enterLink {
    width: 50%;
    float: left;
}*/

