#Content {
    padding: 10%;
}
#divBackground {
    background: white;
    /*filter: alpha(opacity=70);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;*/
    background-color: #CFDEE7;
}

body {
    font-family: 'Josefin Slab', serif;
    font-size: 18px;
   /* background-color: #028090 !important;*/
    background-image: url('../images/Festival-background.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    text-align:center;
    align-content:center;
}

#map {
     border-radius: 5%;
     opacity: 1 !important;
}

#list {
    height: 80%;
    width: 25%;
    float: right;
    background-color: white;
    margin:2%;
    border-radius: 5%;
    padding-bottom:2%;
}
@font-face {
    font-family: 'URANIA CZECH';
    src: url('../Content/URANIA CZECH.ttf') format('truetype');
}

.textFont{
    font-family:'URANIA CZECH';
}
@font-face {
    font-family: 'Rockit';
    src: url('../Content/Rockit.ttf') format('truetype');
}

.heading{
    font-family:Rockit;
    font-size:25px;
    padding:1%;
}